<div *ngIf="post$ | async as post; else loading">
<div class="post mt-5">
  <div class="header">
    <h1>{{post.title}}</h1>
    <button routerLink="/" class="btn btn-primary">Back</button>
  </div>

  <div class="info">
    <strong>{{post.author}}</strong>
    <small>{{post.date | date:'medium':'':'ru'}}</small>
  </div>

  <div>
    <quill-view-html [content]="post.text"></quill-view-html>
  </div>
</div>
</div>

<ng-template #loading>
  <div class="loader-wrapper">
    <div class="loader"></div>
  </div>
</ng-template>
