<div class="post mt-5">
  <div class="header">
    <h1>Post Title</h1>
    <button routerLink="/" class="btn btn-link">Back</button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>12.09.2021</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, labore, non. A corporis delectus eius error esse explicabo laborum pariatur quia quod quos, sequi sit sunt tempora temporibus voluptatem voluptatibus?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, labore, non. A corporis delectus eius error esse explicabo laborum pariatur quia quod quos, sequi sit sunt tempora temporibus voluptatem voluptatibus?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, labore, non. A corporis delectus eius error esse explicabo laborum pariatur quia quod quos, sequi sit sunt tempora temporibus voluptatem voluptatibus?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, labore, non. A corporis delectus eius error esse explicabo laborum pariatur quia quod quos, sequi sit sunt tempora temporibus voluptatem voluptatibus?</p>
  </div>
</div>
