<form class="mt-5 login-form" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Login</h2>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('email')?.touched && form.get('email')?.invalid}"
  >
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email" required>
    <div
    *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
      class="validation"
    >
      <small *ngIf="form.controls.email?.errors?.required === true">
        Please enter an email address
      </small>
      <small *ngIf="form.controls.email?.errors?.email === true">
        Invalid email address
      </small>
    </div>
  </div>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('password')?.touched && form.get('password')?.invalid}"
  >
    <label for="password" required>Password:</label>
    <input id="password" type="password" formControlName="password" maxlength="6">
    <div
      class="validation"
      *ngIf="form.get('password')?.touched && form.get('password')?.invalid"
    >
      <small *ngIf="form.controls.password?.errors?.required === true">Please enter an password</small>
      <small *ngIf="form.controls.password.hasError('minlength')">
        Password must contain at least
        {{form.controls.password?.errors?.minlength.requiredLength}} characters.
        Now it is {{form.controls.password?.errors?.minlength.actualLength}}</small>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-primary mt-3"
    [disabled]="form.invalid || submitted"
  >Login</button>
</form>
