/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";
body{
  font-family: Titillium Web;
}
h1, body {
  margin: 0;
}
a {
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: #666;
  }
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  flex-wrap: nowrap;
  min-height: 70px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 5px 20px;
}
.navbar.main {
  justify-content: center;
}
.navbar-collapse{
  flex-grow: inherit;
}
.btn {
  border: none;
  border-radius: 20px;
  color: white;
  padding: 6px 15px;
  min-width: 100px;
  cursor: pointer;
  margin-top: 10px;
  width: fit-content;
  border: 2px solid transparent;
  transition: $transition-base;
  //&:hover {
  //  background-color: $white;
  //  color: $blue;
  //  border: 2px solid $blue;
  //}
}
.login-form {
  .btn {
    font-weight: $font-weight-bold;
  }
}
.navbar-list{
  display: flex;
  align-items: center;
  li {padding: 5px 20px;}
  li.active {
    background-color: white;
    border-radius: 5px;
    a {color: $blue;
      font-weight: $font-weight-bold;}
  }
  li+li {
    margin-left: 10px;
  }
}
input {
  width: 100%;
  border-radius: 5px;
  border-color: $gray-400;
  border-style: double;
}
.form-control{
  border: none;
  padding: 10px 0;
}
.loader-wrapper {
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  top: 20%;
}
.loader {
  width:45px;
  height:45px;
  padding:0px;
  border-radius:100%;
  border:5px solid;
  border-top-color: $blue;
  border-bottom-color: $gray-500;
  border-left-color: $blue;
  border-right-color: $gray-500;
  -webkit-animation: loader4 1s ease-in-out infinite;
  animation: loader 1s ease-in-out infinite;
}
@keyframes loader {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
@-webkit-keyframes loader {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}


@media (max-width: 575.98px)  {
  .navbar {
    flex-wrap: wrap;
  }
  .navbar-list{
    margin-top: .9rem;
    margin-bottom: .6rem;
    flex-wrap: wrap;
    flex-direction: column;
    li {
      width: 100%;
      a {
        width: 100%;
        display: flex;
      }
    }
    li + li {
      margin-left: 0px;
      margin-top: 10px;
    }
  }
}
